body {
	margin: 0;
	padding: 0;
	margin-top: 102px;
	background: #fff;
	color: #333;
	position: relative;
	font: 100%/150% normal normal "Source Sans Pro", Helvetica, sans-serif;
	width: 800px;
	max-width: 800px;
	max-height: 400px;
}
h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
}

input[type="text"] {
	width: 420px;
	height: 85px;
}

textarea {
}

li {
	font-size: 32px;
}
